<template>
  <section class="section">
    <div class="container">
      <div class="grid">
        <div v-for="(item, index) in items" :key="index" class="grid__item">
          <figure class="image">
            <img :src="item.src" :alt="item.title" :title="item.title">
            <figcaption>
              <div class="content">
                <h2 class="is-uppercase" v-text="item.title" />
                <p v-text="item.excerpt" />
                <a :href="item.to" class="button">Learn more</a>
              </div>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    items: [
      { title: 'POS for Bar & Restaurant', excerpt: 'Fully integrated with 5 apps', to: '/pos/bar-and-restaurant', src: '/bar_restaurant.jpg' },
      { title: 'POS for Retail', excerpt: 'Integrated with Web Manager', to: '/pos/retail', src: '/retail.jpg' }
    ]
  })
}
</script>

<style lang="scss" scoped>
.section {
  padding: 0;
  .grid {
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1024px) {
      grid-template-columns: auto;
    }
    .grid__item {
      &:hover {
        figure {
          figcaption {
            background-color: #00BEBE;
          }
        }
      }
      figure {
        position: relative;
        overflow: hidden;
        figcaption {
          position: absolute;
          display: flex;
          align-items: center;
          align-content: center;
          background-color: hsla(0, 0%, 0%, 0.45);
          transition: background-color 0.3s ease-in-out;
          @media (max-width: 1024px) {
            background-color: hsla(0, 0%, 0%, 0.65);
          }
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          .content {
            width: 100%;
            padding: 3rem;
            text-align: center;
            color: white;
            h2 {
              color: white;
              font-size: 3em;
              margin: 0;
              @media (max-width: 1024px) {
                font-size: 1.5em;
              }
            }
            .button {
              background-color: transparent;
              border: 1px solid white;
              color: white;
              justify-content: center;
              text-align: center;
              white-space: nowrap;
              font-size: 0.875em;
              font-weight: 700;
              text-transform: uppercase;
              padding: 0.500rem 1.5rem;
              border-radius: 0.063rem;
              height: inherit;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: #00BEBE;
                background-color: white;
              }
              &.margin-bottom {
                margin-bottom: 0.25rem;
              }
            }
          }
        }
      }
    }
  }
}
</style>
