<template>
  <div class="form" :class="{ 'has-shadow': hasShadow }">
    <h2 v-if="hasTitle" class="title has-text-weight-normal is-uppercase">
      General inquiries
    </h2>
    <p v-if="hasTitle" class="subtitle is-6">
      Please fill up the fields.
    </p>
    <form name="inquries" netlify-honeypot="bot-field" method="POST" netlify>
      <p class="is-hidden">
        <label>Don’t fill this out if you're human: <input name="bot-field"></label>
      </p>
      <input type="hidden" name="form-name" value="inquries">
      <!-- start here -->
      <b-field>
        <b-select
          v-model="selected_business_type"
          placeholder="Business Types"
          expanded
          required
        >
          <option
            v-for="(item, index) in business_types"
            :key="index"
            :value="item"
            v-text="item"
          />
        </b-select>
      </b-field>
      <!-- end business type -->
      <b-field>
        <b-input
          v-model="name"
          placeholder="Full name"
          required
        />
      </b-field>
      <!-- end name -->
      <b-field>
        <b-input
          v-model="email"
          type="email"
          placeholder="Email"
          required
        />
      </b-field>
      <!-- end email -->
      <b-field>
        <b-input
          v-model="mobile"
          placeholder="Mobile"
          required
        />
      </b-field>
      <!-- end email -->
      <b-field>
        <b-select
          v-model="selected_location"
          placeholder="Location"
          expanded
          required
        >
          <option
            v-for="(item, index) in locations"
            :key="index"
            :value="item"
            v-text="item"
          />
        </b-select>
      </b-field>
      <!-- end business type -->
      <button type="submit" class="button is-fullwidth margin-bottom">
        Submit your inquries
      </button>
      <small class="has-text-centered">By submiting your inquiries you are agree to our terms</small>
    </form>
  </div>
</template>

<script>
export default {
  props: {
    hasShadow: {
      type: Boolean,
      default: true
    },
    hasTitle: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({
    business_types: [
      'Bar or Restaurant',
      'Retail',
      'Others'
    ],
    locations: [
      'Abu Dhabi',
      'Ajman',
      'Dubai',
      'Fujairah',
      'Ras Al Khaimah',
      'Sharjah',
      'Umm Al Quwain'
    ],
    selected_business_type: null,
    name: '',
    email: '',
    mobile: '',
    selected_location: null
  })
}
</script>

<style lang="scss" scoped>
.form {
  background-color: #fafafa;
  padding: 6rem 1.5rem;
  @media (max-width: 1024px) {
    padding: 3rem 1.5rem;
  }
  form {
    .button {
      background-color: transparent;
      border: 1px solid #00BEBE;
      color: #00BEBE;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
      font-size: 0.875em;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0.500rem 1.5rem;
      border-radius: 0.063rem;
      height: inherit;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: white;
        background-color: #00BEBE;
      }
      &.margin-bottom {
        margin-bottom: 0.25rem;
      }
    }
  }
  &.has-shadow {
    box-shadow: 0 1em 1em hsla(0, 0%, 0%, 0.24);
  }
}
</style>
