@charset "utf-8";

// Set your brand colors
$iris-blue: #00BEBE;
$cerulean: #0A82AD;
$white: hsl(0, 0%, 100%);
$white-ter: hsl(0, 0%, 96%);
$white-bis: hsl(0, 0%, 98%);
$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);
$grey-darker: hsl(0, 0%, 21%);
$grey-dark: hsl(0, 0%, 31%);
$grey-light: hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);
$size-1: 3.250em;

// Update Bulma's global variables
$family-sans-serif: 'Source Sans Pro', sans-serif;

// Update some of Bulma's component variables
$body-background-color: $white;
$primary: $iris-blue;
$title-color: $grey-dark;
$link: $primary;
$link-hover: $cerulean;

// Import only what you need from Bulma
@import "~bulma/bulma";
@import "./utilities/all";
