<template>
  <section class="section is-medium">
    <div class="container">
      <div class="columns is-centered has-text-centered">
        <div class="column is-half">
          <div class="title is-2 is-uppercase">
            Dual Link <h2>POS App</h2> Advantages
          </div>
          <p class="subtitle">
            Fast, simple and practical. Realtime synchronization and backups. Simple administration without complexity. iOS app, high availability.
          </p>
        </div>
      </div>
      <div class="columns is-multiline margin-top">
        <div v-for="(item, index) in list" :key="index" class="column is-4">
          <figure class="image">
            <img :src="item.src" :alt="item.title" :title="item.title">
            <figcaption>
              <h3 v-text="item.title" />
              <p v-text="item.excerpt" />
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    list: [
      { title: 'The iPad like Server', excerpt: 'Local operation, is not necessary to have a server. The main iPad itself functions as a system server.', src: '/features/the-ipad-like-server.png' },
      { title: 'Without Internet', excerpt: 'No internet connection needed to operate.', src: '/features/without-internet.png' },
      { title: 'Remote Management', excerpt: 'Management and remote synchronization with Dual Link manager web application.', src: '/features/remote-management.png' },
      { title: 'Without Computers', excerpt: 'Does not require a computer, which translates into a lower cost of equipment maintenance.', src: '/features/without-computers.png' },
      { title: 'Simple and Intuative', excerpt: 'The simple and intuitive interface is very easy to learn, reduces training time.', src: '/features/simple-and-intuitive.png' },
      { title: 'Full Auto Management', excerpt: 'The user can customize the content of the application from the iPad itself, reducing maintenance costs.', src: '/features/full-auto-management.png' }
    ]
  })
}
</script>

<style lang="scss" scoped>
section {
  background-color: #fafafa;
  .columns:last-child {
    .column {
      padding: 1.5rem;
      figure {
        img {
          max-width: 64px;
          margin: 0 auto;
        }
        figcaption {
          text-align: center;
          margin-top: 1.5rem;
          h3 {
            font-weight: 600;
          }
        }
      }
    }
  }
}
</style>
