<template>
  <section class="section is-medium" :class="bgColor">
    <div class="container">
      <div class="title has-text-white has-text-centered is-uppercase is-2">
        Suitable for any <h2>business</h2>
      </div>
      <p class="subtitle has-text-centered has-text-white">
        A perfect fit for establishment of any size
      </p>
      <div class="columns is-centered">
        <div class="column is-8">
          <div class="grid grid-gap">
            <div v-for="(item, index) in list" :key="index" class="grid__item">
              <figure class="image">
                <img :src="item.src" :alt="item.title" :title="item.title">
                <figcaption class="is-uppercase" v-text="item.title" />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    bgColor: {
      type: String,
      default: 'bg-color-secondary'
    }
  },
  data: () => ({
    list: [
      { title: 'SPA', src: '/svg/spa.svg' },
      { title: 'Restaurant', src: '/svg/restaurant.svg' },
      { title: 'Retail', src: '/svg/retail.svg' },
      { title: 'Flower Shop', src: '/svg/flower_shop.svg' },
      { title: 'Gym', src: '/svg/gym.svg' },
      { title: 'Bar', src: '/svg/bar.svg' }
    ]
  })
}
</script>

<style lang="scss" scoped>
section {
  @media (max-width: 1024px) {
    .title {
      font-size: 1.5em;
    }
    .subtitle {
      font-size: 1em;
    }
  }
  .grid {
    grid-template-columns: auto auto auto auto auto auto;
    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
    figure {
      margin-top: 3rem;
      img {
        max-width: 64px;
        margin: 0 auto;
      }
      figcaption {
        margin-top: 1rem;
        font-weight: 700;
        color: hsla(255, 255%, 255%, 0.85);
        text-align: center;
        user-select: none;
      }
    }
  }
}
</style>
