<template>
  <section class="section">
    <div class="container">
      <div class="columns is-vcentered" :class="{ 'reversed': reversePosition }">
        <div class="column">
          <div class="columns is-centered">
            <div class="column is-10">
              <div class="title is-2 is-uppercase">
                Friendly and blazing fast support from our professional <h2>customer service</h2>
              </div>
              <div class="content">
                <p>Get our expert team working for you. We’re ready to get your business setup just right, and keep your growing from there</p>
                <a href="/contacts" class="button">Book a callback</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-paddingless">
          <figure class="image">
            <img src="../static/support.jpg" alt="Support" title="Support">
          </figure>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    reversePosition: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.section {
  padding: 0;
  .columns {
    margin: 0;
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column-reverse;
      text-align: center;
      .title {
        font-size: 1.5em;
      }
    }
    .button {
      background-color: transparent;
      border: 1px solid #00BEBE;
      color: #00BEBE;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
      font-size: 0.875em;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0.500rem 1.5rem;
      border-radius: 0.063rem;
      height: inherit;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: white;
        background-color: #00BEBE;
      }
      &.margin-bottom {
        margin-bottom: 0.25rem;
      }
    }
    &.reversed {
      flex-direction: row-reverse;
      @media (max-width: 1024px) {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}
</style>
