<template>
  <section class="section">
    <div class="container">
      <div class="grid">
        <div class="grid__item">
          <div class="columns is-multiline is-marginless">
            <div v-for="(item, index) in links" :key="index" class="column padding-left-right">
              <h2 class="heading" v-text="item.title" />
              <ul>
                <li v-for="(link, linkIndex) in item.data" :key="linkIndex">
                  <a :href="link.to" v-text="link.title" />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="grid__item">
          <h2 class="heading">
            Contact Us
          </h2>
          <div class="content">
            <p>
              Address: Unit 704, JBC 2,<br>
              Cluster V, JLT - Dubai<br><br>
              Phone: <a href="tel:971044385077">04 438 5077</a><br><br>
              <a href="https://www.google.com/maps/dir//encloud/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x3e5f6ca65780bc7b:0x28d69ac56a1c14c5?sa=X&ved=2ahUKEwi34aXY2Y7jAhWbDmMBHZ9CByoQ9RcwEHoECA8QDg" target="_blank">Direction</a>
            </p>
          </div>
        </div>
      </div>
      <hr>
      <div class="footer-bottom">
        <div class="brand">
          <img src="../static/logo_white.png" alt="Dual Link Middle East" title="Dual Link Middle East">
          &copy; 2019
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    links: [
      {
        title: 'Business Types',
        data: [
          { title: 'POS Bar & Restaurant', to: '/pos/bar-and-restaurant' },
          { title: 'POS Retail', to: '/pos/retail' }
        ]
      },
      {
        title: 'Point of Sale',
        data: [
          { title: 'Features', to: '/pos/features' }
        ]
      },
      {
        title: 'Help Centre',
        data: [
          { title: 'Contacts', to: '/contacts' },
          { title: 'Tutorials', to: '/tutorials' }
        ]
      },
      {
        title: 'Company',
        data: [
          { title: 'About', to: '/about' },
          { title: 'Clients', to: '/clients' },
          { title: 'Partners', to: '/partners' },
          { title: 'Blog', to: '/blog' }
        ]
      }
    ]
  })
}
</script>

<style lang="scss" scoped>
.section {
  background-color: black;
  .grid {
    grid-template-columns: 3fr 1fr;
    @media (max-width: 1024px) {
      grid-template-columns: auto;
      text-align: center;
    }
    .grid__item {
      .heading {
        color: white;
        font-size: 0.875em;
        font-weight: 600;
      }
      ul {
        @media (max-width: 1024px) {
          margin-bottom: 1rem;
        }
        li {
          a {
            font-size: 0.875em;
            color: white;
            transition: opacity 0.3s ease-in-out;
            opacity: 0.65;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
      .content {
        color: white;
        font-size: 0.875em;
        a {
          color: white;
          text-decoration: underline;
        }
      }
    }
  }
  hr {
    background-color: #1a1a1a;
  }
  .footer-bottom {
    .brand {
      img {
        max-height: 3.25rem;
      }
      color: white;
      font-size: 0.875em;
    }
  }
}
</style>
