<template>
  <nav ref="navbar" class="navbar is-fixed-top">
    <sidebar ref="sidebar" />
    <div class="container">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">
          <img src="../static/logo.png" alt="Dual Link POS | M.E Distributor" title="Dual Link POS | M.E Distributor">
        </a>
        <a class="navbar-burger burger" :class="{ 'is-active': isActive }" @click="toggleSidebar">
          <span aria-hidden="true" />
          <span aria-hidden="true" />
          <span aria-hidden="true" />
        </a>
      </div>
      <!-- end navbar-brand -->
      <div class="navbar-menu">
        <div class="navbar-start">
          <nuxt-link to="/pos/bar-and-restaurant" class="navbar-item" exact>
            For Bar & Restaurant
          </nuxt-link>
          <nuxt-link to="/pos/retail" class="navbar-item" exact>
            For Retail
          </nuxt-link>
        </div>
        <div class="navbar-end">
          <template v-for="(link, linkIndex) in links">
            <nuxt-link
              v-if="!link.children"
              :key="linkIndex"
              :to="link.to"
              class="navbar-item"
              exact
              v-text="link.title"
            />
            <div v-else :key="linkIndex" class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" v-text="link.title" />
              <div class="navbar-dropdown">
                <nuxt-link
                  v-for="(item, index) in link.children"
                  :key="index"
                  :to="item.to"
                  class="navbar-item"
                  exact
                  v-text="item.title"
                />
              </div>
            </div>
          </template>
          <div class="navbar-item">
            <a href="https://webmanager.dual-link.com/" target="_blank" class="button is-primary">Web Manager</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import Sidebar from './Sidebar'
export default {
  components: {
    Sidebar
  },
  data: () => ({
    links: [
      { title: 'Why us', to: '/' },
      { title: 'About', to: '/about' },
      {
        title: 'POS',
        children: [
          { title: 'Features', to: '/pos/features' }
        ]
      },
      { title: 'Contacts', to: '/contacts' }
    ],
    isActive: false
  }),
  watch: {
    $route: function (to, from) {
      this.isActive = false
      this.$refs.sidebar.$el.classList.remove('is-active')
    }
  },
  mounted() {
    window.addEventListener('scroll', this.scrollHandler)
    const position = window.scrollY
    const element = this.$refs.navbar
    if (position >= 60) {
      element.classList.add('has-shadow')
    } else {
      element.classList.remove('has-shadow')
    }
  },
  destroyed() {
    window.removeEventListener('scroll', this.scrollHandler)
  },
  methods: {
    scrollHandler() {
      const position = window.scrollY
      const element = this.$refs.navbar
      if (position >= 60) {
        element.classList.add('has-shadow')
      } else {
        element.classList.remove('has-shadow')
      }
    },
    toggleSidebar() {
      const element = this.$refs.sidebar.$el
      if (element.classList.contains('is-active')) {
        this.isActive = false
        element.classList.remove('is-active')
      } else {
        this.isActive = true
        element.classList.add('is-active')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.navbar {
  &.has-shadow {
    box-shadow: 0 1px 0 hsla(0, 0%, 10%, 0.10);
  }
  .navbar-brand {
    .navbar-item {
      img {
        max-height: 2.25em;
      }
    }
  }
  .navbar-menu {
    .navbar-end,
    .navbar-start {
      & > a.navbar-item {
        color: hsla(0, 0%, 0%, 0.65);
        font-size: 0.875em;
        text-transform: capitalize;
        transition: opacity 0.3s ease-in-out;
        background-color: inherit;
        &.nuxt-link-active {
          color: #00BEBE;
          &:hover {
            opacity: 1;
          }
        }
        &:hover {
          opacity: 0.5;
        }
      }
      & > div.navbar-item.has-dropdown {
        .navbar-link {
          color: hsla(0, 0%, 0%, 0.65);
          font-size: 0.875em;
          text-transform: capitalize;
          transition: opacity 0.3s ease-in-out;
          background-color: inherit;
          &.nuxt-link-active {
            color: #00BEBE;
            &:hover {
              opacity: 1;
            }
          }
          &:hover {
            opacity: 0.5;
          }
        }
      }
      & > div.navbar-item {
        a.button {
          background-color: transparent;
          border: 1px solid #00BEBE;
          color: #00BEBE;
          justify-content: center;
          text-align: center;
          white-space: nowrap;
          font-size: 0.875em;
          font-weight: 700;
          text-transform: uppercase;
          padding: 0.500rem 1.5rem;
          border-radius: 0.063rem;
          height: inherit;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: white;
            background-color: #00BEBE;
          }
          &.margin-bottom {
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
}
</style>
