<template>
  <section class="section is-medium">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column">
          <figure class="image">
            <img src="../static/integrates/the-only-point-of-sale-that-integrates.jpg" alt="The only Point of sale that integrates" title="The Only Point of sale that integrates">
          </figure>
        </div>
        <div class="column padding-left-right">
          <div class="title is-2 is-uppercase">
            The only <h2>Point of sale</h2> that integrates
          </div>
          <ul>
            <li v-for="(item, index) in list" :key="index">
              <figure class="image">
                <img :src="item.src" :alt="item.title" :title="item.title">
                <figcaption v-text="item.title" />
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    list: [
      { title: 'Barcode Scanners', src: '/integrates/barcode-scanners.png' },
      { title: 'Scales', src: '/integrates/scales.png' },
      { title: 'Intelligent Cash', src: '/integrates/intelligent-cash.png' },
      { title: 'Label Printer', src: '/integrates/label-printer.png' },
      { title: 'Cashdesk', src: '/integrates/cashdesk.png' },
      { title: 'PinPads', src: '/integrates/pinpads.png' },
      { title: 'Chip Card or Magnetic Stripe', src: '/integrates/chip-card-or-magnetic-stripe.png' },
      { title: 'Fingerprint Reader', src: '/integrates/fingerprint-readers.png' },
      { title: 'NFC Bracelets', src: '/integrates/nfc-bracelets.png' },
      { title: 'Thermal Printers', src: '/integrates/thermal-printers.png' },
      { title: 'Portable Thermal Printers', src: '/integrates/portable-thermal-printers.png' },
      { title: 'External Displays', src: '/integrates/external-displays.png' }
    ]
  })
}
</script>

<style lang="scss" scoped>
section {
  .container {
    .columns {
      .column {
        &:last-child {
          ul {
            columns: 2;
            @media (max-width: 1024px) {
              padding: 1rem 0;
            }
            li {
              padding: 1rem;
              figure {
                display: flex;
                align-items: center;
                img {
                  max-width: 24px;
                  margin-right: 1rem;
                }
                figcaption {
                  font-size: 1em;
                }
              }
              @media (max-width: 1024px) {
                font-size: 0.750em;
                padding: 0.25rem 0.5rem;
                figure {
                  img {
                    max-width: 0.875rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
