<template>
  <aside class="menu">
    <div v-for="(item, index) in links" :key="index" class="wrapper">
      <p class="menu-label" v-text="item.title" />
      <ul class="menu-list">
        <li v-for="(link, linkIndex) in item.data" :key="linkIndex">
          <nuxt-link v-if="!link.blog" :to="link.to" exact v-text="link.title" />
          <a v-else :href="link.to" v-text="link.title" />
        </li>
      </ul>
    </div>
  </aside>
</template>

<script>
export default {
  data: () => ({
    links: [
      {
        title: 'Business Types',
        data: [
          { title: 'POS Bar & Restaurant', to: '/pos/bar-and-restaurant' },
          { title: 'POS Retail', to: '/pos/retail' }
        ]
      },
      {
        title: 'Point of Sale',
        data: [
          { title: 'Features', to: '/pos/features' }
        ]
      },
      {
        title: 'Help Centre',
        data: [
          { title: 'Contacts', to: '/contacts' },
          { title: 'Tutorials', to: '/tutorials' }
        ]
      },
      {
        title: 'Company',
        data: [
          { title: 'About', to: '/about' },
          { title: 'Why us', to: '/' }
        ]
      }
    ]
  })
}
</script>

<style lang="scss" scoped>
.menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 240px;
  min-width: inherit;
  width: auto;
  z-index: 1030;
  margin-left: -240px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  overflow-x: hidden;
  overflow-y: auto;
  .menu-label {
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .menu-list {
    li {
      a {
        padding: 0.75rem 1.5rem;
        font-size: 0.875em;
        border-radius: 0;
        transition: all 0.3s ease-in-out;
        &.nuxt-link-active {
          color: #00BEBE;
          &:hover {
            opacity: 1;
          }
        }
        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
  &.is-active {
    margin-left: 0;
    box-shadow: 0 3px 3px hsla(0, 0%, 0%, 0.10);
  }
  @media (min-width: 1024px) {
    display: none;
  }
}
</style>
