<template>
  <div class="card">
    <div class="card-image">
      <nuxt-link :to="item.links.show">
        <figure class="image is-4by3">
          <img :src="item.image ? item.image.object_url : null" :alt="item.title" :title="item.title">
        </figure>
      </nuxt-link>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <nuxt-link :to="item.links.show">
            <h2 class="title is-5" v-text="item.title" />
          </nuxt-link>
          <h3 class="subtitle is-6">
            <a href="#" v-text="item.category" />
          </h3>
        </div>
      </div>

      <p class="content">
        {{ item.excerpt }}
      </p>
      <small>Posted at {{ filterDate(item.published_at) }}</small>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
export default {
  props: {
    item: {
      type: Object,
      default: () => ({})
    }
  },
  methods: {
    filterDate(value) {
      return moment(value).fromNow()
    }
  }
}
</script>

<style lang="scss">
.card {
  .card-content {
    padding: 1rem;
    .content {
      font-size: 0.875rem;
      color: hsla(0, 0%, 0%, 0.45);
    }
  }
}
</style>
