<template>
  <div class="app">
    <d-navbar />
    <nuxt />
    <d-footer />
  </div>
</template>

<script>
import DNavbar from '@/components/DNavbar'
import DFooter from '@/components/DFooter'
export default {
  components: {
    DNavbar,
    DFooter
  },
  data: () => ({})
}
</script>

<style lang="scss">
@import "../assets/scss/main";
</style>
