<template>
  <main>
    <section id="seo" class="section is-medium">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <figure class="image">
              <img :src="item.image ? item.image.object_url : null" :alt="item.title" :title="item.title">
            </figure>
          </div>
          <div class="column padding-left-right">
            <h1 class="title title-size-lg is-uppercase" v-text="item.title" />
            <p class="subtitle" v-text="item.excerpt" />
            <small>Published At {{ filterDate(item.published_at) }}</small>
          </div>
        </div>
      </div>
    </section>
    <!-- end seo -->
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-8">
            <div class="content" v-html="item.content" />
          </div>
        </div>
      </div>
    </section>
    <section id="section-1" class="section has-text-centered">
      <nuxt-link to="/blog" class="button is-primary is-outlined">
        Read more blog post
      </nuxt-link>
    </section>
    <contacts />
  </main>
</template>

<script>
import moment from 'moment'
import Contacts from '@/components/Contacts'
export default {
  components: {
    Contacts
  },
  head() {
    return {
      title: this.item.title,
      meta: [
        { hid: 'description', name: 'description', content: this.item.excerpt.substring(0, 155) },
        { hid: 'type', property: 'og:type', content: 'Website' },
        { hid: 'url', property: 'og:url', content: `https://www.duallink-me.com/blog/${this.$route.params.slug}` },
        { hid: 'title', name: 'title', property: 'og:title', content: this.item.title },
        { hid: 'description', property: 'og:description', content: this.item.excerpt.substring(0, 155) },
        { hid: 'image', name: 'image', property: 'og:image', content: `https://www.duallink-me.com/${this.item.image ? this.item.image.object_url : null}` },
        { hid: 'author', name: 'author', property: 'og:author', content: 'Dual Link M.E' }
      ]
    }
  },
  asyncData(context) {
    if (context.payload) {
      return {
        item: context.payload
      }
    } else {
      return context.$axios.$get(`http://localhost:8000/blog/posts/${context.params.slug}`)
        .then((response) => {
          return {
            item: response.data
          }
        })
    }
  },
  methods: {
    filterDate(value) {
      return moment(value).fromNow()
    }
  }
}
</script>

<style lang="scss" scoped>
#section-1 {
  background-color: #fafafa;
}
</style>
