<template>
  <main>
    <section id="seo" class="section is-medium">
      <div class="container">
        <div class="columns has-text-centered is-centered is-vcentered">
          <div class="column is-9">
            <h1 class="title title-size-lg is-uppercase" v-text="title" />
            <p class="subtitle" v-text="description" />
          </div>
        </div>
      </div>
    </section>
    <!-- end seo -->
    <section id="blog-post" class="section is-medium">
      <div class="container">
        <div
          v-if="posts.data && posts.data.lenght > 0"
          class="columns is-multiline"
        >
          <div
            v-for="(item, index) in posts.data"
            :key="index"
            class="column is-3 is-flex"
          >
            <blog-post :item="item" />
          </div>
        </div>

        <div
          v-else
          class="columns has-text-centered is-centered"
        >
          <div class="column is-half">
            <div class="title title-size-lg is-uppercase">
              No Data has been found.
            </div>
          </div>
        </div>

        <div class="columns has-text-centered is-centered">
          <div class="column">
            <button
              class="button is-primary is-outlined"
              :class="{ 'is-loading': isLoading }"
              :disabled="atLimit"
              @click="onLoadMore"
            >
              Load more
            </button>
          </div>
        </div>
      </div>
    </section>
    <contacts />
  </main>
</template>

<script>
import Contacts from '@/components/Contacts'
import BlogPost from '@/components/Blog/BlogPost'
const title = 'Blog: Find all the resources you need'
const description = 'Dual link delivers high quality content not just about the product it self but how it will impact small, medium, and enterprise business. Keep track to our tips, case study, updates and so on.'
const ogImage = require('@/static/og_dual_link_me.png')
export default {
  components: {
    Contacts,
    BlogPost
  },
  head() {
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description.substring(0, 155) },
        { hid: 'type', property: 'og:type', content: 'Website' },
        { hid: 'url', property: 'og:url', content: 'https://www.duallink-me.com/blog' },
        { hid: 'title', name: 'title', property: 'og:title', content: title },
        { hid: 'description', property: 'og:description', content: description.substring(0, 155) },
        { hid: 'image', name: 'image', property: 'og:image', content: `https://www.duallink-me.com${ogImage}` },
        { hid: 'author', name: 'author', property: 'og:author', content: 'Metadata UAE' }
      ]
    }
  },
  data: () => ({
    title: title,
    description: description,
    posts: {},
    rowsPerPage: 15,
    isLoading: false
  }),
  computed: {
    atLimit() {
      const total = this.posts.meta ? this.posts.meta.total : 0
      return this.rowsPerPage >= total
    }
  },
  mounted() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      const response = await this.$axios.$get(`http://localhost:8000/blog/posts?publish=1&page=1&rowsPerPage=${this.rowsPerPage}`)
      this.posts = response
    },
    onLoadMore() {
      this.isLoading = true
      this.rowsPerPage += 10
      this.fetchData().then(() => { this.isLoading = false })
    }
  }
}
</script>

<style lang="scss" scoped>
#blog-post {
  background-color: #fafafa
}
</style>
