<template>
  <main>
    <section id="seo" class="section is-medium">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <figure class="image">
              <img src="../static/about_page.jpg" :alt="title" :title="title">
            </figure>
          </div>
          <div class="column padding-left-right">
            <h1 class="title title-size-lg is-uppercase" v-text="title" />
            <p v-text="description" />
          </div>
        </div>
      </div>
    </section>
    <!-- end seo -->
    <section id="section-1" class="section">
      <div class="container">
        <div class="columns is-centered margin-bottom">
          <div class="column is-half">
            <h2 class="title is-2 is-uppercase">
              Who are we
            </h2>
            <div class="content">
              <p>Dual Link is a company with a young spirit created in mid-2014, a leader in the NICT sector specializing in the development and integration of software and hardware, which allows us to provide our customers with fully integrated business solutions. </p>
              <p>Our main branch of development is the creation of solutions for the management of a commercial establishment for sale to the public. Currently, it has complete tools for Bar & Restaurants, Retail and Hotels. </p>
              <p>When we started our company, we were just 4 friends with the same goal - bring technology to everyone. </p>
              <p>Today we have over 20 people in our team and we are still growing. Employees and partners working every day to deliver the best technology in the best form. </p>
              <p>Our goal is to provide professionals with powerful management tools, easy to use and intuitive, that solve their problems regardless of size or business model, adding value thanks to the best technologies on the market. </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end section-1 -->
    <section id="section-2" class="section is-medium">
      <div class="container">
        <div class="columns is-centered margin-bottom">
          <div class="column is-half">
            <div class="title is-2 is-uppercase has-text-centered">
              Who use <h2>Dual Link</h2>
            </div>
            <p class="subtitle has-text-centered is-6">
              Join Dual Link with over 2000+ happy customers world wide
            </p>
          </div>
        </div>
        <div class="columns is-multiline margin-top">
          <div v-for="(item, index) in clients" :key="index" class="column is-3">
            <figure class="image is-128x128 is-centered">
              <img :src="item.src" :alt="item.title" :title="item.title">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <contacts />
  </main>
</template>

<script>
import Contacts from '@/components/Contacts'
const title = 'About: Dual Link Most Advanced POS System'
const description = 'Dual Link is a company formed by a multidisciplinary team that develops and markets our own software and hardware with the sole aim to create a much easier and practical working environment to the ones involved within the Restaurant business using our innovative iPad Application.'
const ogImage = require('../static/og_dual_link_me.png')
export default {
  components: {
    Contacts
  },
  head() {
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description.substring(0, 155) },
        { hid: 'type', property: 'og:type', content: 'Website' },
        { hid: 'url', property: 'og:url', content: 'https://www.duallink-me.com/about' },
        { hid: 'title', name: 'title', property: 'og:title', content: title },
        { hid: 'description', property: 'og:description', content: description.substring(0, 155) },
        { hid: 'image', name: 'image', property: 'og:image', content: `https://www.duallink-me.com${ogImage}` },
        { hid: 'author', name: 'author', property: 'og:author', content: 'Metadata UAE' }
      ]
    }
  },
  data: () => ({
    title: title,
    description: description,
    clients: [
      { title: 'Marea Alta', src: '/clients/marea_alta.png' },
      { title: 'Popacha', src: '/clients/popacha.png' },
      { title: 'Pro Bar', src: '/clients/pro_bar.png' },
      { title: 'Taberna Del Ciri', src: '/clients/taberna_del_ciri.png' },
      { title: 'Brasserie', src: '/clients/brasserie.png' },
      { title: 'Carabassa', src: '/clients/carabassa.png' },
      { title: 'Dans Le Noir', src: '/clients/dans_le_noir.png' },
      { title: 'DSTino', src: '/clients/dstino.png' },
      { title: 'El Kiosko', src: '/clients/el_kiosko.png' },
      { title: 'Heart', src: '/clients/heart.png' }
    ]
  })
}
</script>

<style lang="scss" scoped>
#section-1 {
  background-color: #fafafa;
}
</style>
