<template>
  <main>
    <section id="seo" class="section is-large">
      <div class="container">
        <div class="columns is-centered has-text-centered">
          <div class="column is-10">
            <h1 class="title title-size-lg is-uppercase" v-text="title" />
            <p class="subtitle" v-text="description" />
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns is-centered has-text-centered">
          <div class="column is-10">
            <h2 class="title">
              We serve 20,000 customers around the world
            </h2>
            <p class="subtitle">
              Our client list speaks for itself. Since our earliest days, we’ve represented everything from start-ups to Fortune 500 companies with that same partnership approach and dedication at the core of every engagement.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="clients" class="section">
      <div class="container">
        <div
          v-if="clients.data && clients.data.length > 0"
          class="columns is-multiline is-centered"
        >
          <div
            v-for="(item, index) in clients.data"
            :key="index"
            class="column is-3"
          >
            <figure class="image">
              <img :src="item.logo ? item.logo.object_url : null" :alt="item.name" :title="item.name">
            </figure>
          </div>
        </div>

        <div
          v-else
          class="columns has-text-centered is-centered"
        >
          <div class="column is-half">
            <div class="title title-size-lg is-uppercase">
              No Data has been found.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-text-centered">
      <button
        class="button is-primary is-outlined"
        :class="{ 'is-loading': isLoading }"
        :disabled="atLimit"
        @click="onLoadMore"
      >
        Load more clients
      </button>
    </section>
    <contacts :reverse-position="true" />
  </main>
</template>

<script>
import Contacts from '@/components/Contacts'
const title = 'Client: Discover Dual Link M.E Impact'
const description = 'Dual Link M.E Distributor rising impact to their respective business. From small, medium, and enterprise business, Dual Link M.E helped them to have a better systematic operation and bring joy to users for the ease of app.'
const ogImage = require('@/static/og_dual_link_me.png')
export default {
  components: {
    Contacts
  },
  head() {
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description.substring(0, 155) },
        { hid: 'type', property: 'og:type', content: 'Website' },
        { hid: 'url', property: 'og:url', content: 'https://www.duallink-me.com/clients' },
        { hid: 'title', name: 'title', property: 'og:title', content: title },
        { hid: 'description', property: 'og:description', content: description.substring(0, 155) },
        { hid: 'image', name: 'image', property: 'og:image', content: `https://www.duallink-me.com${ogImage}` },
        { hid: 'author', name: 'author', property: 'og:author', content: 'Metadata UAE' }
      ]
    }
  },
  data: () => ({
    title: title,
    description: description,
    clients: {},
    rowsPerPage: 15,
    isLoading: false
  }),
  computed: {
    atLimit() {
      const total = this.clients.meta ? this.clients.meta.total : 0
      return this.rowsPerPage >= total
    }
  },
  mounted() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      const response = await this.$axios.$get(`http://localhost:8000/app/client/companies?page=1&rowsPerPage=${this.rowsPerPage}`)
      this.clients = response
    },
    onLoadMore() {
      this.isLoading = true
      this.rowsPerPage += 10
      this.fetchData()
        .then(() => { this.isLoading = false })
    }
  }
}
</script>

<style lang="scss" scoped>
#seo {
  background: url('../static/client_bg.jpg') no-repeat center center;
  background-size: cover;
  .title,
  .subtitle {
    color: hsl(255, 255%, 255%);
  }
}
</style>
