<template>
  <main>
    <section id="seo" class="section is-medium">
      <div class="container">
        <div class="columns is-centered has-text-centered">
          <div class="column is-10">
            <h1 class="title title-size-lg is-uppercase" v-text="title" />
            <p class="subtitle" v-text="description" />
          </div>
        </div>
      </div>
    </section>
    <!-- end seo -->
    <section id="section-1" class="section is-medium">
      <div class="columns is-centered has-text-centered">
        <div class="column is-half">
          <h2 class="title is-2 is-uppercase">
            For all the technical support.
          </h2>
          <p class="subtitle">
            Please if you’re experiencing products issue. Find the nearest office base on your location. For all general inquiries, please send us an email at <a href="mailto:support@duallink-me.com">support@duallink-me.com</a> or call use <a href="tel:971044385077">(04)-438-5077</a>
          </p>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-half">
          <contact-form
            :has-shadow="false"
            :has-title="false"
            class="is-paddingless has-text-centered"
          />
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import ContactForm from '@/components/Form/ContactForm'
const title = 'Contacts: For General enquiries or technical support'
const description = 'Dual link support team is available 24/7 by email and phone, if you like to have information about our POS solutions or request a demo feel free to contact us.'
const ogImage = require('../static/og_dual_link_me.png')
export default {
  components: {
    ContactForm
  },
  head() {
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description.substring(0, 155) },
        { hid: 'type', property: 'og:type', content: 'Website' },
        { hid: 'url', property: 'og:url', content: 'https://www.duallink-me.com/contacts' },
        { hid: 'title', name: 'title', property: 'og:title', content: title },
        { hid: 'description', property: 'og:description', content: description.substring(0, 155) },
        { hid: 'image', name: 'image', property: 'og:image', content: `https://www.duallink-me.com${ogImage}` },
        { hid: 'author', name: 'author', property: 'og:author', content: 'Metadata UAE' }
      ]
    }
  },
  data: () => ({
    title: title,
    description: description
  })
}
</script>

<style lang="scss" scoped>
#section-1 {
  background-color: #fafafa;
}
</style>
