<template>
  <main>
    <section id="seo" class="section is-medium">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-half padding-left-right margin-top margin-bottom">
            <h1 class="title title-size-lg is-spaced has-text-weight-bold is-uppercase" v-text="title" />
            <div class="column is-8">
              <p class="subtitle" v-text="description" />
            </div>
          </div>
          <div class="column">
            <figure class="image">
              <img src="../static/hero_intro.png" :alt="title" :title="title">
              <a class="chef-app-trigger" href="/pos/bar-and-restaurant#chef-app" />
              <a class="booking-app-trigger" href="/pos/bar-and-restaurant#booking-app" />
              <a class="waiter-app-trigger" href="/pos/bar-and-restaurant#waiter-app" />
              <a class="stock-app-trigger" href="/pos/bar-and-restaurant#stock-app" />
              <a class="web-manager-trigger" href="/pos/bar-and-restaurant#web-manager" />
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- end seo -->
    <business-types bg-color="bg-color-primary" />
    <!-- end business-types -->
    <section id="section-2" class="section is-medium">
      <div class="container">
        <div class="columns has-text-centered is-centered margin-bottom margin-size-md">
          <div class="column is-half">
            <div class="title is-2 is-uppercase">
              Control every aspect of your <h2>business</h2>
            </div>
            <p class="subtitle is-6">
              One program with all the necessary tools to manage your business, Taking orders Kitchen Monitoring, Stock Monitoring, and Advance Reporting. Works offline as well.
            </p>
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-10">
            <figure class="image">
              <img src="../static/control_every_aspect_of_your_business.png" alt="Control every aspect of your business" title="Control every aspect of your business">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- end section-2 -->
    <bar-restaurant-retail />
    <!-- end bar-restaurant-retail -->
    <section id="section-3" class="section is-medium">
      <div class="container">
        <div class="title is-2 has-text-centered is-uppercase">
          <h2>Dual Link</h2> focus on Innovation. Simplicity. Security.
        </div>
        <p class="subtitle has-text-centered">
          Dual Link apps works only on iPad, iPhone and Web Browser (Web Manager).
        </p>
        <div class="columns is-multiline">
          <a v-for="(item, index) in apps" :key="index" :href="item.to" class="column is-3">
            <figure class="image">
              <img :src="item.src" :alt="item.title" :title="item.title">
              <figcaption v-text="item.title" />
            </figure>
          </a>
        </div>
        <figure class="image apple-store">
          <img src="../static/svg/download_on_the_app_store_badge.svg" alt="Download on Apple Store" title="Download on Apple Store">
        </figure>
      </div>
    </section>
    <!-- end section-3 -->
    <section id="section-4" class="section is-medium">
      <div class="container">
        <div class="columns">
          <div class="column is-3 is-offset-1">
            <div class="title is-2 is-uppercase is-spaced">
              Grow your business with <h2>Dual Link</h2> POS
            </div>
            <p class="subtitle is-6">
              We are the only company that delivers the full potential of the iPad as POS and can bind and synchronize an iPhone or iPod as handled device without servers, the iPad is the server itself.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- end section-4 -->
    <contacts />
  </main>
</template>

<script>
import Contacts from '@/components/Contacts'
import BarRestaurantRetail from '@/components/CTA/BarRestaurantRetail'
import BusinessTypes from '@/components/BusinessTypes'
const title = 'POS System UAE | iPad Point of Sale System UAE'
const description = 'Dual Link is a cloud-based point-of-sale system application that runs through the iPad or iOS operating system. Dual Link focus on innovation, simplicity, and security.'
const ogImage = require('../static/og_dual_link_me.png')
export default {
  components: {
    Contacts,
    BarRestaurantRetail,
    BusinessTypes
  },
  head() {
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description.substring(0, 155) },
        { hid: 'type', property: 'og:type', content: 'Website' },
        { hid: 'url', property: 'og:url', content: 'https://www.duallink-me.com' },
        { hid: 'title', name: 'title', property: 'og:title', content: title },
        { hid: 'description', property: 'og:description', content: description.substring(0, 155) },
        { hid: 'image', name: 'image', property: 'og:image', content: `https://www.duallink-me.com${ogImage}` },
        { hid: 'author', name: 'author', property: 'og:author', content: 'Metadata UAE' }
      ]
    }
  },
  data: () => ({
    title: 'iPad Point of Sale: The most advanced and friendly user interface',
    description: description,
    apps: [
      { title: 'POS Bar & Restaurant App', to: '/pos/bar-and-restaurant', src: '/icons/pos_app.png' },
      { title: 'POS Retail App', to: '/pos/retail', src: '/icons/retail_pos_app.png' },
      { title: 'Waiter App', to: '/pos/bar-and-restaurant#waiter-app', src: '/icons/waiter_app.png' },
      { title: 'Chef App', to: '/pos/bar-and-restaurant#chef-app', src: '/icons/chef_app.png' },
      { title: 'Booking App', to: '/pos/bar-and-restaurant#booking-app', src: '/icons/booking_app.png' },
      { title: 'Stock App', to: '/pos/bar-and-restaurant#stock-app', src: '/icons/stock_app.png' },
      { title: 'Web Manager', to: '/pos/bar-and-restaurant#web-manager', src: '/icons/web_manager.png' }
    ]
  })
}
</script>

<style lang="scss" scoped>
#seo {
  @media (max-width: 1024px) {
    text-align: center;
  }
}
#section-2 {
  @media (max-width: 1024px) {
    .title.is-1 {
      font-size: 2.25em;
    }
  }
}
#section-3 {
  background-color: #fafafa;
  .columns {
    padding: 3rem 1.5rem;
    @media (max-width: 1024px) {
      padding: 1.5rem 0;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: 1fr 1fr;
    }
    a {
      color: hsla(0, 0%, 0%, 0.65);
      transition: opacity 0.3s ease-in-out;
      figure {
        img {
          max-width: 96px;
          margin: 0 auto;
        }
        figcaption {
          margin-top: 1rem;
          text-align: center;
        }
      }
      &:hover {
        opacity: 0.5;
      }
    }
  }
  .apple-store {
    img {
      max-width: 280px;
      margin: 0 auto;
    }
  }
  @media (max-width: 1024px) {
    .title.is-2 {
      font-size: 1.5em;
    }
    .subtitle {
      font-size: 1em;
    }
  }
}
#section-4 {
  background: url('../static/grow_your_business_wth_dual_link.png') no-repeat center center;
  background-size: cover;
  .title {
    color: white;
  }
  .subtitle {
    color: white;
  }
}
.chef-app-trigger {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 0;
  left: 30%;
  right: 30%;
  margin: 0 auto;
}
.web-manager-trigger {
  position: absolute;
  width: 128px;
  height: 128px;
  left: 0;
  top: 50%;
  bottom: 70%;
  margin: auto 0;
}
.stock-app-trigger {
  position: absolute;
  width: 128px;
  height: 128px;
  right: 0;
  top: 50%;
  bottom: 70%;
  margin: auto 0;
}
.booking-app-trigger {
  position: absolute;
  width: 128px;
  height: 128px;
  bottom: 0;
  left: 15%;
}
.waiter-app-trigger {
  position: absolute;
  width: 128px;
  height: 128px;
  bottom: 0;
  right: 15%;
}
</style>
