<template>
  <main>
    <section id="seo" class="section is-large">
      <div class="container">
        <div class="columns is-centered has-text-centered">
          <div class="column is-10">
            <h1 class="title title-size-lg is-uppercase" v-text="title" />
            <p class="subtitle" v-text="description" />
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns is-centered has-text-centered">
          <div class="column is-9">
            <h2 class="title">
              Our partners networks
            </h2>
            <p class="subtitle">
              We are proud of the relationships and partnerships we have built over time; these are based on trust and commitment. We not only offer products but also the associated services – which is why we have also trusted partners to our principals and clients.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div
          v-if="partners.data && partners.data.length > 0"
          class="columns is-multiline is-centered"
        >
          <div
            v-for="(item, index) in partners.data"
            :key="index"
            class="column is-3"
          >
            <figure class="image">
              <img :src="item.logo ? item.logo.object_url : null" :alt="item.name" :title="item.name">
            </figure>
          </div>
        </div>
        <div
          v-else
          class="columns has-text-centered is-centered"
        >
          <div class="column is-half">
            <div class="title title-size-lg is-uppercase">
              No Data has been found.
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section has-text-centered">
      <button
        class="button is-primary is-outlined"
        :class="{ 'is-loading': isLoading }"
        :disabled="atLimit"
        @click="onLoadMore"
      >
        Load more clients
      </button>
    </section>
    <contacts :reverse-position="true" />
  </main>
</template>

<script>
import Contacts from '@/components/Contacts'
const title = 'Partner: Find the nearest to learn more'
const description = 'We are grateful to work with our partners as they are knowledgeable when it comes to Dual Link product itself. Please find nearest reseller in your area to learn more about us and our products.'
const ogImage = require('@/static/og_dual_link_me.png')
export default {
  components: {
    Contacts
  },
  head() {
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description.substring(0, 155) },
        { hid: 'type', property: 'og:type', content: 'Website' },
        { hid: 'url', property: 'og:url', content: 'https://www.duallink-me.com/clients' },
        { hid: 'title', name: 'title', property: 'og:title', content: title },
        { hid: 'description', property: 'og:description', content: description.substring(0, 155) },
        { hid: 'image', name: 'image', property: 'og:image', content: `https://www.duallink-me.com${ogImage}` },
        { hid: 'author', name: 'author', property: 'og:author', content: 'Metadata UAE' }
      ]
    }
  },
  data: () => ({
    title: title,
    description: description,
    partners: {},
    rowsPerPage: 15,
    isLoading: false
  }),
  computed: {
    atLimit() {
      const total = this.partners.meta ? this.partners.meta.total : 0
      return this.rowsPerPage >= total
    }
  },
  mounted() {
    this.fetchData()
  },
  methods: {
    async fetchData() {
      const response = await this.$axios.$get(`http://localhost:8000/app/client/companies?page=1&rowsPerPage=${this.rowsPerPage}`)
      this.partners = response
    },
    onLoadMore() {
      this.isLoading = true
      this.rowsPerPage += 10
      this.fetchData()
        .then(() => { this.isLoading = false })
    }
  }
}
</script>

<style lang="scss" scoped>
#seo {
  background: url('../static/partner_bg.jpg') no-repeat center center;
  background-size: cover;
  .title,
  .subtitle {
    color: hsl(255, 255%, 255%);
  }
}
</style>
