<template>
  <main>
    <section id="seo" class="section is-medium">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5">
            <figure class="image">
              <img src="../static/do_it_youre_self_get_started_with_dual_link.png" :alt="title" :title="title">
            </figure>
          </div>
          <div class="column padding-left-right">
            <h1 class="title title-size-lg is-uppercase space-mobile" v-text="title" />
            <p class="subtitle" v-text="description" />
          </div>
        </div>
      </div>
    </section>
    <!-- end seo -->
    <section id="section-1" class="section is-medium">
      <div class="columns is-centered">
        <div class="column is-half">
          <h2 class="title is-2 is-uppercase">
            For Bar & Restaurant
          </h2>
          <p class="subtitle">
            Experience the interactivity for POS Bar & Restaurant App
          </p>
          <ul class="two-columns">
            <li>
              <a href="#">1. Starting Up</a>
            </li>
            <li>
              <a href="#">2. Making Order - Open a table</a>
            </li>
            <li>
              <a href="#">2.1 Canceling an order</a>
            </li>
            <li>
              <a href="#">2.2 Moving orders</a>
            </li>
            <li>
              <a href="#">2.3 Closing orders</a>
            </li>
            <li>
              <a href="#">3. Making order - Quick order</a>
            </li>
            <li>
              <a href="#">3.1 Canceling an order</a>
            </li>
            <li>
              <a href="#">3.2 Moving orders</a>
            </li>
            <li>
              <a href="#">3.3 Closing orders</a>
            </li>
            <li>
              <a href="#">4. Administrations</a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- end section-1 -->
    <contacts />
  </main>
</template>

<script>
import Contacts from '@/components/Contacts'
const title = 'Do it you’re self. Get started with dual link'
const description = 'Browse the links and experience the interactive how our application works. Whenever you use laptop, or tablet'
const ogImage = require('../static/og_dual_link_me.png')
export default {
  components: {
    Contacts
  },
  head() {
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description.substring(0, 155) },
        { hid: 'type', property: 'og:type', content: 'Website' },
        { hid: 'url', property: 'og:url', content: 'https://www.duallink-me.com/tutorials' },
        { hid: 'title', name: 'title', property: 'og:title', content: title },
        { hid: 'description', property: 'og:description', content: description.substring(0, 155) },
        { hid: 'image', name: 'image', property: 'og:image', content: `https://www.duallink-me.com${ogImage}` },
        { hid: 'author', name: 'author', property: 'og:author', content: 'Metadata UAE' }
      ]
    }
  },
  data: () => ({
    title: title,
    description: description
  })
}
</script>

<style lang="scss" scoped>
#section-1 {
  background-color: #fafafa;
  .two-columns {
    columns: 2;
    @media (max-width: 1024px) {
      columns: 1;
    }
  }
}
</style>
