.button {
  &.is-primary.is-outlined {
    background-color: transparent;
      border: 1px solid #00BEBE;
      color: #00BEBE;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
      font-size: 0.875em;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0.500rem 1.5rem;
      border-radius: 0.063rem;
      height: inherit;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: white;
        background-color: #00BEBE;
      }
      &.margin-bottom {
        margin-bottom: 0.25rem;
      }
  }
}
