// select
.select {
  select {
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    option {
      padding: 1em 1.5em;
    }
  }
  &:not(.is-multiple):not(.is-loading)::after {
    border-color: $grey-light;
  }
}
// input
.input,
.textarea {
  box-shadow: none;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
