.grid {
  display: grid;
  grid-auto-columns: auto;
  // grid gap
  .grid-gap {
    grid-gap: 1.5rem;
    &.grid-gap-sm {
      grid-gap: 2.25rem;
    }
    &.grid-gap-md {
      grid-gap: 2.75rem;
    }
    &.grid-gap-lg {
      grid-gap: 3rem;
    }
  }
}

.columns {
  &.is-mobile {
    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
