// padding-left-right
.padding-left-right {
  padding: 0 1.5rem;
  &.padding-size-sm {
    padding: 0 2.25rem;
  }
  &.padding-size-md {
    padding: 0 3rem;
  }
  &.padding-size-lg {
    padding: 0 6rem;
  }
  @media (max-width: 1024px) {
    padding: 0 1rem;
  }
}

.padding-bottom {
  padding-bottom: 1.5rem;
  &.padding-size-sm {
    padding-bottom: 2.25rem;
    @media (max-width: 1024px) {
      padding-bottom: 1.5rem;
    }
  }
  &.padding-size-md {
    padding-bottom: 3rem;
    @media (max-width: 1024px) {
      padding-bottom: 2rem;
    }
  }
  &.padding-size-lg {
    padding-bottom: 9rem;
    @media (max-width: 1024px) {
      padding-bottom: 3rem;
    }
  }
}

// margin-top
.margin-top {
  margin-top: 1.5rem;
  &.margin-size-sm {
    margin-top: 2rem;
  }
  &.margin-size-md {
    margin-top: 2.5rem;
  }
  &.margin-size-lg {
    margin-top: 3rem;
  }
}
.margin-bottom {
  margin-bottom: 1.5rem;
  &.margin-size-sm {
    margin-bottom: 2rem;
  }
  &.margin-size-md {
    margin-bottom: 2.5rem;
  }
  &.margin-size-lg {
    margin-bottom: 3rem;
  }
}

// image
figure.image {
  &.is-centered {
    margin: 0 auto;
  }
}
