// bg color
.bg-color-grey-dark {
  background-color: $grey-dark;
}
.bg-color-primary {
  background-color: $iris-blue;
}
.bg-color-secondary {
  background-color: $cerulean;
}
.bg-color-primary-secondary {
  background: linear-gradient(180deg, $iris-blue, $cerulean);
}
.bg-color-secondary-primary {
  background: linear-gradient(180deg, $cerulean, $iris-blue);
}
