.title {
  &.is-2 {
    @media (max-width: 1024px) {
      font-size: 1.5em;
    }
  }
  &.title-size-lg {
    font-size: 3em;
    @media (max-width: 1024px) {
      font-size: 2.25em;
      text-align: center;
      margin: 0;
      margin-bottom: 1.5rem;
    }
  }
  h2,
  h3 {
    display: inline-block;
    font-weight: 600;
  }
}

.title-header {
  &.is-centered {
    figure {
      justify-content: center;
    }
  }
  figure {
    display: flex;
    align-items: center;
    img {
      max-width: 96px;
      margin-right: 1.25rem;
    }
    figcaption {
      h2 {
        font-size: 3em;
        font-weight: 600;
        text-transform: uppercase;
        @media (max-width: 1024px) {
          font-size: 1em;
        }
      }
    }
  }
}
