<template>
  <main>
    <section id="seo" class="section is-medium">
      <div class="container">
        <div class="columns is-vcentered is-marginless">
          <div class="column">
            <figure class="image">
              <img src="../../static/pos_app_bg.png" :alt="title" :title="title">
            </figure>
          </div>
          <div class="column padding-left-right">
            <h1 class="title title-size-lg is-uppercase" v-text="title" />
            <p v-text="description" />
          </div>
        </div>
      </div>
    </section>
    <!-- end of seo -->
    <section id="section-1" class="section is-medium">
      <div class="container">
        <div class="title-header is-centered margin-bottom">
          <figure class="image">
            <img src="../../static/icons/pos_app.png" alt="POS App" title="POS App">
            <figcaption>
              <h2>POS App</h2>
              <p>For Bar & Restaurant</p>
            </figcaption>
          </figure>
        </div>
        <div class="columns is-centered">
          <div class="column is-9">
            <figure class="image">
              <img src="../../static/bar_and_restaurant/pos_app.png" alt="For Bar & Restaurant" title="For Bar & Restaurant">
            </figure>
            <ul class="two-columns">
              <li><strong>Orders</strong>: To attend and serve customers without any specific location.</li>
              <li><strong>Tables</strong>: Take orders from a particular location.</li>
              <li><strong>Accounts</strong>: Full access, control & detailed supervision of all the workers.</li>
              <li><strong>Online</strong>: Manage Online orders, handling takeout and collet orders.</li>
              <li><strong>Workers</strong>: Full access, control & detailed supervision of all the workers.</li>
              <li><strong>Cash Desk</strong>: Relevant information to access or understand relevant data, sales and service statistics in real time.</li>
              <li><strong>Administration</strong>: Manage your POS Dual Link from the iPad itself or from any location, thanks to the Dual Manager web application link.</li>
            </ul>
          </div>
        </div>
        <div class="buttons is-centered">
          <a href="/pos/features" class="button">Explore Features</a>
        </div>
      </div>
    </section>
    <!-- end section-1 -->
    <section id="section-2" class="section is-medium">
      <div class="container has-text-centered">
        <h2 class="title is-2 is-uppercase">
          Fully Integrated Apps
        </h2>
        <p class="subtitle">
          From Waiter App, Chef App, Booking App, Stock App to Web Manager.
        </p>
        <div class="columns is-multiline">
          <div v-for="(item, index) in integratedList" :key="index" class="column padding-left-right">
            <figure class="image">
              <img :src="item.src" :alt="item.title" :title="item.title">
              <figcaption v-text="item.title" />
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- end section-2 -->
    <section id="waiter-app" class="section is-medium">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <figure class="image waiter-app">
              <img src="../../static/bar_and_restaurant/waiter.png" alt="Waiter App" title="Waiter App">
            </figure>
          </div>
          <div class="column padding-left-right">
            <div class="columns">
              <div class="column is-10">
                <div class="title-header margin-bottom">
                  <figure class="image">
                    <img src="../../static/icons/waiter_app.png" alt="Waiter App" title="Waiter App">
                    <figcaption>
                      <h2>Waiter App</h2>
                      <p>For Bar & Restaurant</p>
                    </figcaption>
                  </figure>
                </div>
                <div class="content">
                  <p>We have taken the most powerful light of technology and market and have developed an app that has been tested to become the perfect extension of a waiter. Easy and intuitive. They learn to handle it from day one.</p>
                  <strong>Automatic synchronization</strong>
                  <p>Our unique synchronization system and connecting equipment guarantees the maximum performance of the comanderos when you need it most. Compatible with portable printer via Bluetooth.</p>
                  <strong>Less forgetfulness and more efficiency. Better customer service</strong>
                  <p>“Modifiers” will help to inform kitchen / bar any particular “way of cooking”. Modification on a plate after marching the commands? Kitchen sends a message from the Waiter app.</p>
                  <p>Make payments and print directly on the Waiter app, increasing service productivity. The accounts come second after being ordered and can be folded tables quickly.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end waiter-app -->
    <section id="chef-app" class="section">
      <div class="container">
        <div class="columns is-vcentered is-mobile">
          <div class="column padding-left-right">
            <div class="columns">
              <div class="column is-10 is-offset-1">
                <div class="title-header margin-bottom">
                  <figure class="image">
                    <img src="../../static/icons/chef_app.png" alt="Chef App" title="Chef App">
                    <figcaption>
                      <h2>Chef App</h2>
                      <p>For Bar & Restaurant</p>
                    </figcaption>
                  </figure>
                </div>
                <div class="content">
                  <p>Knowing how to manage the “pass area” is the key to the proper functioning of the dining room. Thanks to this application you will no longer need to use paper or wait until the waiter comes to the kitchen with the order commands to start preparing dishes.</p>
                  <strong>Organize yourself as you wish</strong>
                  <p>Dual Link Chef App use to visualized orders from the Dual Link Bar & Restaurant POS App. Full synchronization allows the team to start working perfectly, and to be a step ahead at all the times.</p>
                  <strong>This is the tool for Chefs and Head Cooks in the kitchen.</strong>
                  <p>The “mise and place” is ready. Everything is prepared. While the staff at the Dining Area are taking the order to Table 3, the order command is already being displayed at the kitchen screen, allowing the team to start working. Perfect to be a step ahead at all times. The service barely started and we have already gained time.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <figure class="image chef-app">
              <img src="../../static/bar_and_restaurant/chef.png" alt="Chef App" title="Chef App">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- end chef-app -->
    <section id="booking-app" class="section">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <figure class="image booking-app">
              <img src="../../static/bar_and_restaurant/booking.png" alt="Booking App" title="Booking App">
            </figure>
          </div>
          <div class="column padding-left-right">
            <div class="columns">
              <div class="column is-10">
                <div class="title-header margin-bottom">
                  <figure class="image">
                    <img src="../../static/icons/booking_app.png" alt="Booking App" title="Booking App">
                    <figcaption>
                      <h2>Booking App</h2>
                      <p>For Bar & Restaurant</p>
                    </figcaption>
                  </figure>
                </div>
                <div class="content">
                  <p>Dual Link Booking POS App has different interfaces for each worker (hostess, RRPP, managers…), each worker will be able to login to his account and start working easily, Dual Link Booking POS App also has a lot of features , visualize real-time booking and automatic synchronization also, you can add your recurrent customer’s information or any other specifications so the waiters are aware (e.g. allergies) and Send messages to the kitchen or the bar so they can start getting ready.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end booking-app -->
    <section id="stock-app" class="section">
      <div class="container">
        <div class="columns is-vcentered is-mobile">
          <div class="column padding-left-right">
            <div class="columns">
              <div class="column is-8 is-offset-2">
                <div class="title-header margin-bottom">
                  <figure class="image">
                    <img src="../../static/icons/stock_app.png" alt="Stock App" title="Stock App">
                    <figcaption>
                      <h2>Stock App</h2>
                      <p>For Bar & Restaurant</p>
                    </figcaption>
                  </figure>
                </div>
                <div class="content">
                  <p>Dual Link Stock App designed with different interfaces for each worker (hostess, RRPP, managers…), each worker will be able to login to his account and start working easily, Dual Link Stock App also developed with a lot of features, it Supports bar code scanners, manage stock products, view packing lists, and the inventory. </p>
                  <p>See how many units of each product you have and real-time synchronization with other Dual Link Apps.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <figure class="image stock-app">
              <img src="../../static/bar_and_restaurant/stock.png" alt="Stock App" title="Stock App">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- end stock-app -->
    <section id="web-manager" class="section is-medium">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <figure class="image web-manager">
              <img src="../../static/bar_and_restaurant/web_manager.png" alt="Web Manager" title="Web Manager">
            </figure>
          </div>
          <div class="column padding-left-right">
            <div class="columns">
              <div class="column is-10">
                <div class="title-header margin-bottom">
                  <figure class="image">
                    <img src="../../static/icons/web_manager.png" alt="Web Manager" title="Web Manager">
                    <figcaption>
                      <h2>Web Manager</h2>
                      <p>For Bar & Restaurant and Retail</p>
                    </figcaption>
                  </figure>
                </div>
                <div class="content">
                  <p>With Dual Link Web Manager, you set your own limit, regardless of your location you will be able to manage any task on the any time and from anywhere.</p>
                  <p>You will gain absolute business control; any aspect or immediate requirements can be manage remotely avoiding the need to be present at the business premises.</p>
                  <strong>Manage one or as many businesses as you may need.</strong>
                  <p>Dual Link Manager is a web application that can be access from your computer, tablet or smartphone regardless of your location. You will gain absolute business control remotely handling any aspect or situation taking place at your local, avoiding the need to be present at the business premises.</p>
                  <strong>Franchises</strong>
                  <p>Throughout the Web Manager, the franchises would be able to set common product pricing or discounts, happy hours, special dish preparations, etc., for all the establishments and at the same time.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end section-6 -->
    <contacts />
  </main>
</template>

<script>
import Contacts from '@/components/Contacts'
const title = 'Dual Link POS App for Bar & Restaurant'
const description = 'The point of sale terminal (POS) Dual Link BaR has been developed and tested over the years under the most demanding conditions. Thanks to the logic proposed in the working processes of POS power and iPad versatility, you will re-gain and improve your business control. As a result, you will be able to focus on your main priority: “your customers”.'
const ogImage = require('../../static/og_dual_link_me.png')
export default {
  components: {
    Contacts
  },
  head() {
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description.substring(0, 155) },
        { hid: 'type', property: 'og:type', content: 'Website' },
        { hid: 'url', property: 'og:url', content: 'https://www.duallink-me.com/pos/bar-and-restaurant' },
        { hid: 'title', name: 'title', property: 'og:title', content: title },
        { hid: 'description', property: 'og:description', content: description.substring(0, 155) },
        { hid: 'image', name: 'image', property: 'og:image', content: `https://www.duallink-me.com${ogImage}` },
        { hid: 'author', name: 'author', property: 'og:author', content: 'Metadata UAE' }
      ]
    }
  },
  data: () => ({
    title: title,
    description: description,
    integratedList: [
      { title: 'Waiter App', src: '/icons/waiter_app.png' },
      { title: 'Chef App', src: '/icons/chef_app.png' },
      { title: 'Booking App', src: '/icons/booking_app.png' },
      { title: 'Stock App', src: '/icons/stock_app.png' },
      { title: 'Web Manager', src: '/icons/web_manager.png' }
    ]
  })
}
</script>

<style lang="scss" scoped>
#section-1 {
  .two-columns {
    margin-top: 1.5rem;
    columns: 2;
    li {
      padding: 0.5rem;
    }
  }
  .button {
    background-color: transparent;
    border: 1px solid #00BEBE;
    color: #00BEBE;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    font-size: 0.875em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.500rem 1.5rem;
    border-radius: 0.063rem;
    height: inherit;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: white;
      background-color: #00BEBE;
    }
    &.margin-bottom {
      margin-bottom: 0.25rem;
    }
  }
}
#section-2 {
  background-color: #fafafa;
  .columns {
    padding: 3rem 1.5rem;
    @media (max-width: 1024px) {
      padding: 3rem 0;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: 1fr 1fr;
    }
    figure {
      img {
        max-width: 96px;
        margin: 0 auto;
      }
      figcaption {
        margin-top: 1rem;
        color: hsla(0, 0%, 0%, 0.65);
      }
    }
  }
}
.waiter-app,
.stock-app {
  img {
    max-width: 204px;
    margin: 0 auto;
  }
}
.chef-app,
.booking-app {
  img {
    max-width: 408px;
    margin: 0 auto;
  }
}
.web-manager {
  img {
    max-width: 600px;
    margin: 0 auto;
  }
}
</style>
