<template>
  <main>
    <section id="seo" class="section is-medium">
      <div class="container">
        <div class="columns is-centered has-text-centered margin-bottom margin-size-md">
          <div class="column is-10">
            <h1 class="title title-size-lg is-uppercase" v-text="title" />
            <p class="subtitle" v-text="description" />
          </div>
        </div>
        <div class="columns is-centered">
          <div class="column is-half">
            <figure class="image">
              <img src="../../static/features/intro_bg.png" :alt="title" :title="title">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- end seo -->
    <advantages />
    <!-- end advantages -->
    <business-types bg-color="bg-color-primary" />
    <!-- end business types -->
    <integrates />
    <!-- end integrates -->
    <section id="ui" class="padding-bottom padding-size-lg">
      <div class="container">
        <div class="columns is-vcentered is-mobile">
          <div class="column padding-left-right margin-top margin-bottom">
            <div class="title is-2 is-uppercase">
              Amazing <h2>UI and UX Design</h2>
            </div>
            <div class="content">
              <p>Dual Link team put all their effort to craft amazing user interface design and better user experience design, dedicated to deliver the best user facing.</p>
              <p>Customization of zones, drag and drop table, bar, stool, and so on.</p>
            </div>
          </div>
          <div class="column">
            <figure class="image">
              <img src="../../static/features/amazing_ui_design.jpg" alt="" title="">
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!-- end ui -->
    <contacts :reverse-position="true" />
  </main>
</template>

<script>
import BusinessTypes from '@/components/BusinessTypes'
import Advantages from '@/components/Advantages'
import Integrates from '@/components/Integrates'
import Contacts from '@/components/Contacts'
const title = 'POS Features that boost your business'
const description = 'Everything you need to run the world\'s advanced point of sale for bar and restaurant or retail.'
const ogImage = require('../../static/og_dual_link_me.png')
export default {
  components: {
    BusinessTypes,
    Advantages,
    Integrates,
    Contacts
  },
  head() {
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description.substring(0, 155) },
        { hid: 'type', property: 'og:type', content: 'Website' },
        { hid: 'url', property: 'og:url', content: 'https://www.duallink-me.com/pos/feature' },
        { hid: 'title', name: 'title', property: 'og:title', content: title },
        { hid: 'description', property: 'og:description', content: description.substring(0, 155) },
        { hid: 'image', name: 'image', property: 'og:image', content: `https://www.duallink-me.com${ogImage}` },
        { hid: 'author', name: 'author', property: 'og:author', content: 'Metadata UAE' }
      ]
    }
  },
  data: () => ({
    title: title,
    description: description,
    listIntegrate: [
      { title: 'Barcode Scanners', src: '/integrates/barcode-scanners.png' },
      { title: 'Scales', src: '/integrates/scales.png' },
      { title: 'Intelligent Cash', src: '/integrates/intelligent-cash.png' },
      { title: 'Label Printer', src: '/integrates/label-printer.png' },
      { title: 'Cashdesk', src: '/integrates/cashdesk.png' },
      { title: 'PinPads', src: '/integrates/pinpads.png' },
      { title: 'Chip Card or Magnetic Stripe', src: '/integrates/chip-card-or-magnetic-stripe.png' },
      { title: 'Fingerprint Reader', src: '/integrates/fingerprint-readers.png' },
      { title: 'NFC Bracelets', src: '/integrates/nfc-bracelets.png' },
      { title: 'Thermal Printers', src: '/integrates/thermal-printers.png' },
      { title: 'Portable Thermal Printers', src: '/integrates/portable-thermal-printers.png' },
      { title: 'External Displays', src: '/integrates/external-displays.png' }
    ]
  })
}
</script>

<style lang="scss" scoped>
@media (max-width: 1024px) {
  #ui {
    text-align: center;
  }
}
</style>
