<template>
  <main>
    <section id="seo" class="section is-medium">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <figure class="image">
              <img src="../../static/retail_app_bg.jpg" :alt="title" :title="title">
            </figure>
          </div>
          <div class="column padding-left-right">
            <h1 class="title title-size-lg is-uppercase" v-text="title" />
            <p v-text="description" />
          </div>
        </div>
      </div>
    </section>
    <!-- end seo -->
    <section id="section-1" class="section">
      <div class="container">
        <div class="title-header is-centered margin-bottom">
          <figure class="image">
            <img src="../../static/icons/retail_pos_app.png" alt="POS App" title="POS App">
            <figcaption>
              <h2>POS App</h2>
              <p>For Retail</p>
            </figcaption>
          </figure>
        </div>
        <div class="columns is-centered">
          <div class="column pos-app">
            <figure class="image">
              <img src="../../static/retail/retail.png" alt="Retail POS App" title="Retail POS App">
            </figure>
          </div>
        </div>
        <div class="buttons is-centered">
          <a href="/pos/features" class="button">Explore Features</a>
        </div>
      </div>
    </section>
    <!-- end section-1 -->
    <section id="section-2" class="section is-medium">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <figure class="image web-manager">
              <img src="../../static/bar_and_restaurant/web_manager.png" alt="Web Manager" title="Web Manager">
            </figure>
          </div>
          <div class="column padding-left-right">
            <div class="columns">
              <div class="column is-10">
                <div class="title-header margin-bottom">
                  <figure class="image">
                    <img src="../../static/icons/web_manager.png" alt="Web Manager" title="Web Manager">
                    <figcaption>
                      <h2>Web Manager</h2>
                      <p>Fully integrated to POS Retail App</p>
                    </figcaption>
                  </figure>
                </div>
                <div class="content">
                  <p>With Dual Link Web Manager, you set your own limit, regardless of your location you will be able to manage any task on the any time and from anywhere.</p>
                  <p>You will gain absolute business control; any aspect or immediate requirements can be manage remotely avoiding the need to be present at the business premises.</p>
                  <strong>Manage one or as many businesses as you may need.</strong>
                  <p>Dual Link Manager is a web application that can be access from your computer, tablet or smartphone regardless of your location. You will gain absolute business control remotely handling any aspect or situation taking place at your local, avoiding the need to be present at the business premises.</p>
                  <strong>Franchises</strong>
                  <p>Throughout the Web Manager, the franchises would be able to set common product pricing or discounts, happy hours, special dish preparations, etc., for all the establishments and at the same time.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end section-2 -->
    <contacts />
  </main>
</template>

<script>
import Contacts from '@/components/Contacts'
const title = 'Dual Link POS App for Retail'
const description = 'The point of sale terminal (POS) Dual Link Retail has been developed and tested over the years under the most demanding conditions. Thanks to the logic proposed in the working processes of POS power and iPad versatility, you will re-gain and improve your business control. As a result, you will be able to focus on your main priority: “your customers”.'
const ogImage = require('../../static/og_dual_link_me.png')
export default {
  components: {
    Contacts
  },
  head() {
    return {
      title: title,
      meta: [
        { hid: 'description', name: 'description', content: description.substring(0, 155) },
        { hid: 'type', property: 'og:type', content: 'Website' },
        { hid: 'url', property: 'og:url', content: 'https://www.duallink-me.com/pos/retail' },
        { hid: 'title', name: 'title', property: 'og:title', content: title },
        { hid: 'description', property: 'og:description', content: description.substring(0, 155) },
        { hid: 'image', name: 'image', property: 'og:image', content: `https://www.duallink-me.com${ogImage}` },
        { hid: 'author', name: 'author', property: 'og:author', content: 'Metadata UAE' }
      ]
    }
  },
  data: () => ({
    title: title,
    description: description
  })
}
</script>

<style lang="scss" scoped>
#section-1 {
  .pos-app {
    figure {
      img {
        max-width: 408px;
        margin: 0 auto;
      }
    }
  }
}
#section-2 {
  .web-manager {
    img {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}
.button {
  background-color: transparent;
  border: 1px solid #00BEBE;
  color: #00BEBE;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.500rem 1.5rem;
  border-radius: 0.063rem;
  height: inherit;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: white;
    background-color: #00BEBE;
  }
  &.margin-bottom {
    margin-bottom: 0.25rem;
  }
}
</style>
